@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

body {
    font-family: 'Montserrat', sans-serif;
	text-align: center;
}

h1 {
	font-size: 32px;
	font-weight: bold;
	text-decoration: underline;
}

.app-row {
	margin: auto;
	text-align: center;
	padding: 30px;
	font-size: 18px;
	font-weight: bold;
	color: black;	
}

.app-row a:link {
	color: black;	
	text-decoration: none;
}

.icon {
	width: 250px;
	border-radius: 22.5%;
}